1. Print the first 5 positive integers in ascending order with one number 
in each line

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [3]:
i = 1
while i<=5:
    print(i*"*")
    i = i+1

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [4]:
x = int(input("Enter interger: "))
print(x**2)

Enter interger: 5
25

In [5]:
x = int(input("Enter interger: "))
print(x**2)

Enter interger: 10
100

4.Accept two integers as input and print their sum as output.

In [6]:
x = int(input("enter num1: "))
y = int(input("enetr num2: "))

print(x+y)

enter num1: 25
enetr num2: 35
60

5. Accept two words as input and print the two words after adding a 
space between them

In [7]:
x = input("enter a word: ")
y = input("enter another word: ")
print(x+ " "+y)

enter a word: abhi
enter another word: mohan
abhi mohan

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [8]:
s = input()
print(s[0:2])

DL123456
DL

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [2]:
x = input("Enetr five digit number: ")
sum = 0
for i in x:
    sum = sum + int(i)
print(sum)

Enetr five digit number: 12345
15

In [3]:
x = input("Enetr five digit number: ")
sum = 0
for i in x:
    sum = sum + int(i)
print(sum)

Enetr five digit number: 25463
20

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [2]:
w1 = input("enter word1:")
w2 = input("enter word2:")
w3 = input("enter word3:")
w4 = input("enter word4:")
w5 = input("enter word5:")

print(w1+" "+w2+" "+w3+" "+w4+" "+w5+".")

enter word1:cat
enter word2:is
enter word3:a
enter word4:pet
enter word5:animal
cat is a pet animal.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [3]:
date = input("enter date in dd-mm-yyyy: ")
print(date[4:])

enter date in dd-mm-yyyy: 12022022
2022

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [5]:
prod = 1
for i in range(1,6):
    x = int(input("enter five numbers: "))   
    prod = prod * x
print(prod)

enter five numbers: 5
enter five numbers: 4
enter five numbers: 3
enter five numbers: 2
enter five numbers: 1
120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy (x to the power y)

In [7]:
a = int(input("enter num1: "))
b = int(input("enter num2: "))
x= a**b
y= str(x)
len(y)

enter num1: 10
enter num2: 3

4

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [13]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s=s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

hello
ell

In [12]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s=s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

hello.
ell

In [11]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1] == ".":
        s = s[:-1]
    else:
        s=s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

hi
hi.

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [15]:
a= int(input("enter side1:"))
b= int(input("enter side2:"))
c= int(input("enter side3:"))

if a**2==b**2 + c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2:
    print("YES")
else:
    print("NO")

enter side1:3
enter side2:4
enter side3:5
YES

In [16]:
a= int(input("enter side1:"))
b= int(input("enter side2:"))
c= int(input("enter side3:"))

if a**2==b**2 + c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2:
    print("YES")
else:
    print("NO")

enter side1:10
enter side2:15
enter side3:14
NO

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [19]:
E1 = int(input())
E2 = int(input())
E3 = int(input())
E4 = int(input())
E5 = int(input())

if (E1+E2)%2==0 and (E2+E3)%2==0 and (E3+E4)%2==0 and (E4+E5)%2==0 and (E5+E1)%2==0:
    print("YES")
else:
    print("NO")

2
4
6
8
10
YES

In [20]:
E1 = int(input())
E2 = int(input())
E3 = int(input())
E4 = int(input())
E5 = int(input())

if (E1+E2)%2==0 and (E2+E3)%2==0 and (E3+E4)%2==0 and (E4+E5)%2==0 and (E5+E1)%2==0:
    print("YES")
else:
    print("NO")

1
2
4
6
8
NO

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [39]:
string = input("enter a string: ")
vowel = []
if "a" in string:
    vowel += "a"
if "e" in string:
    vowel += "e" 
if "i" in string:
    vowel += "i"
if "o" in string:
    vowel += "o"
if "u" in string:
    vowel += "u"
print(vowel)

enter a string: elephant
['a', 'e']

In [40]:
string = input("enter a string: ")
vowel = []
if "a" in string:
    vowel += "a"
if "e" in string:
    vowel += "e" 
if "i" in string:
    vowel += "i"
if "o" in string:
    vowel += "o"
if "u" in string:
    vowel += "u"
print(vowel)

enter a string: iNeuron
['e', 'i', 'o', 'u']

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [43]:
x =input("enter name: ")
y= input("enter DOB in dd/mm/yyyy: ")
a= input("enter name:")
b =input("enter DOB in dd/mm/yyyy:")

if y == b:
    print("Both have same DOB")
    if x<a:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

if y[-4:]>b[-4:]:
    print(f"{x} is younger")
else:
    print(f"{a} is younger")
        
if y[-4:]==b[-4:]:
    if y[3:5]>b[3:5]:
            print(f"{x} is younger")
    else:   
            print(f"{a} is younger")

if y[-4:]==b[-4:] and y[3:5]==b[3:5]:
    if y[0:2]>b[0:2]:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

enter name: Abhishek
enter DOB in dd/mm/yyyy: 12/08/1997
enter name:Mohan
enter DOB in dd/mm/yyyy:15/08/2000
Mohan is younger

In [44]:
x =input("enter name: ")
y= input("enter DOB in dd/mm/yyyy: ")
a= input("enter name:")
b =input("enter DOB in dd/mm/yyyy:")

if y == b:
    print("Both have same DOB")
    if x<a:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

if y[-4:]>b[-4:]:
    print(f"{x} is younger")
else:
    print(f"{a} is younger")
        
if y[-4:]==b[-4:]:
    if y[3:5]>b[3:5]:
            print(f"{x} is younger")
    else:   
            print(f"{a} is younger")

if y[-4:]==b[-4:] and y[3:5]==b[3:5]:
    if y[0:2]>b[0:2]:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

enter name: shyam
enter DOB in dd/mm/yyyy: 25/12/2022
enter name:ram
enter DOB in dd/mm/yyyy:25/12/2022
Both have same DOB
ram is younger
ram is younger
ram is younger
ram is younger

In [45]:
x =input("enter name: ")
y= input("enter DOB in dd/mm/yyyy: ")
a= input("enter name:")
b =input("enter DOB in dd/mm/yyyy:")

if y == b:
    print("Both have same DOB")
    if x<a:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

if y[-4:]>b[-4:]:
    print(f"{x} is younger")
else:
    print(f"{a} is younger")
        
if y[-4:]==b[-4:]:
    if y[3:5]>b[3:5]:
            print(f"{x} is younger")
    else:   
            print(f"{a} is younger")

if y[-4:]==b[-4:] and y[3:5]==b[3:5]:
    if y[0:2]>b[0:2]:
        print(f"{x} is younger")
    else:
        print(f"{a} is younger")

enter name: john
enter DOB in dd/mm/yyyy: 10/02/1988
enter name:mathew
enter DOB in dd/mm/yyyy:25/02/1988
mathew is younger
mathew is younger
mathew is younger

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [9]:
x = input("Enter your password: ")
if 8<=len(x)<=32 and x[0].isalpha()==True and "/" not in x and "\\" not in x and  "=" not in x and "'" not in x and "\"" not in x and x.isspace()==False:
    print("True")
else:
    print("False")

Enter your password: /abhishek\
False

In [10]:
x = input("Enter your password: ")
if 8<=len(x)<=32 and x[0].isalpha()==True and "/" not in x and "\\" not in x and  "=" not in x and "'" not in x and "\"" not in x and x.isspace()==False:
    print("True")
else:
    print("False")

Enter your password: =abhishek
False

In [26]:
x = input("Enter your password: ")
if 8<=len(x)<=32 and x[0].isalpha()==True and "/" not in x and "\\" not in x and  "=" not in x and "'" not in x and "\"" not in x and x.isspace()==False:
    print("True")
else:
    print("False")

Enter your password: abhishek
True

In [19]:
x = "abhi mohan"
for i in x:
    if i.isspace()==True:
        print("It has space")

It has space

In [22]:
x = "abhi mohan"
if x.isspace()==True:
        print("It has space")
else:
    print("No space")

No space

In [23]:
"abhi mohan".isspace()   #desired Output is true, but it is giving false.

False

In [24]:
#isspace() will give true as output only wehn all the character in string is whitespace.

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [42]:
x = int(input("enter a positive number: "))

for i in range(1,x+1):
    print(i)

enter a positive number: 12
1
2
3
4
5
6
7
8
9
10
11
12

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [47]:
n = int(input())
if n == 1:
    print("NOT Prime")
if n == 2:
    print("Prime")
if n>2:
    for i in range(1,n-1):
        if n%(i+1)==0:
            print("Not prime")
            break
        else:    
            print("Prime")
            break

100
Not prime

In [48]:
n = int(input())
if n == 1:
    print("NOT Prime")
if n == 2:
    print("Prime")
if n>2:
    for i in range(1,n-1):
        if n%(i+1)==0:
            print("Not prime")
            break
        else:    
            print("Prime")
            break

97
Prime

In [2]:
n = int(input())
if n == 1:
    print("NOT Prime")
if n == 2:
    print("Prime")
if n>2:
    for i in range(1,n-1):
        if n%(i+1)==0:
            print("Not prime")
            break
        else:    
            print("Prime")
            break

2
Prime

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [56]:
#         a =input()
#         b = input()
#         c = ""
#         for i in range(len(a)):
#             if b[i] not in a:
#                 c = c + b[i]
#             else:
#                 continue

#         print(c)

ac
abcd
b

In [48]:
x = "abhi"
x.replace("a"," ")

' bhi'

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [90]:
phone = input("enter phone number: ")
Sum=0
count = 1
if phone.startswith("6") or phone.startswith("7") or phone.startswith("8") or phone.startswith("9"):
    if len(phone)==10:
        for i in phone:
            Sum = phone.count(i)
        if Sum<=7:
            for j in range(len(phone)-1):
                if phone[j]==phone[j+1]:
                    count = count + 1
                else:
                    continue
            if count<=5:
                print("Valid")
            else:
                print("Invalid")
        else:
            print("Invalid")
    else:
        print("Invalid")
else:
    print("Invalid")

enter phone number: 9888458889
Valid

In [89]:
phone = input("enter phone number: ")
Sum=0
count = 1
if phone.startswith("6") or phone.startswith("7") or phone.startswith("8") or phone.startswith("9"):
    if len(phone)==10:
        for i in phone:
            Sum = phone.count(i)
        if Sum<=7:
            for j in range(len(phone)-1):
                if phone[j]==phone[j+1]:
                    count = count + 1
                else:
                    continue
            if count<=5:
                print("Valid")
            else:
                print("Invalid")
        else:
            print("Invalid")
    else:
        print("Invalid")
else:
    print("Invalid")

enter phone number: 8555555982
Invalid

In [91]:
phone = input("enter phone number: ")
Sum=0
count = 1
if phone.startswith("6") or phone.startswith("7") or phone.startswith("8") or phone.startswith("9"):
    if len(phone)==10:
        for i in phone:
            Sum = phone.count(i)
        if Sum<=7:
            for j in range(len(phone)-1):
                if phone[j]==phone[j+1]:
                    count = count + 1
                else:
                    continue
            if count<=5:
                print("Valid")
            else:
                print("Invalid")
        else:
            print("Invalid")
    else:
        print("Invalid")
else:
    print("Invalid")

enter phone number: 7888885869
Valid

In [92]:
# x = 66665266
# a = str(x)
# count = 1
# for i in range(len(a)-1):
#     if a[i]==a[i+1]:
#         count = count + 1
#     else:
#         break
# if count >=5:
#     print("Invalid")
# else:
#     print("valid")

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [1]:
x = input()
y = input()
if y in x:
    print("YES")
    print(x.count(y))
else: 
    print("NO")

i live in delhi. delhi is capital of india
delhi
YES
2

In [5]:
x = input().split(" ")
y = input()
if y in x:
    print("YES")
    print(x.count(y))
else: 
    print("NO")

i live in delhi and delhi is capital of india
delhi
YES
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [53]:
def factorial(n):

    if n<0:
        return -1
    if n==0:
        return 1
    else:
        fact = 1
        for i in range(1,n+1):
            fact = fact*i
        return fact

In [54]:
factorial(5)

120

In [55]:
factorial(0)

1

In [56]:
factorial(-10)

-1

In [57]:
factorial(10)

3628800

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [39]:
def maxx(l):
    Max = l[0]
    for i in range(len(l)):
        if l[i]> Max:
            Max = l[i]
    return Max   

def minn(l):
    Min = l[0]
    for i in range(len(l)):
        if l[i]< Min:
            Min = l[i]
    return Min   

def get_range(l):
    Range  = maxx(l) - minn(l)
    return Range

In [45]:
l=[12,2,10,20,15,30,25]

In [46]:
get_range(l)

28

In [47]:
maxx(l)

30

In [48]:
minn(l)

2

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [ ]:
#Based on file handling...will do it later

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [14]:
roll = input("enter roll number: ")
if roll[0:2].isalpha() and roll[2:4].isdigit() and roll[4].isalpha() and roll[5:].isdigit():
    if roll[0:2] == "DS":
        print("True")
    else:
        print("False")
else:
    print("enter correct roll number !")

enter roll number: BR18B0000
False

In [15]:
roll = input("enter roll number: ")
if roll[0:2].isalpha() and roll[2:4].isdigit() and roll[4].isalpha() and roll[5:].isdigit():
    if roll[0:2] == "DS":
        print("True")
    else:
        print("False")
else:
    print("enter correct roll number !")

enter roll number: DS20J1235
True

In [16]:
roll = input("enter roll number: ")
if roll[0:2].isalpha() and roll[2:4].isdigit() and roll[4].isalpha() and roll[5:].isdigit():
    if roll[0:2] == "DS":
        print("True")
    else:
        print("False")
else:
    print("enter correct roll number !")

enter roll number: JK45BD000
enter correct roll number !

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [9]:
np = input("enter number plate: ")
if np[0:2].isalpha() and np[2:4].isdigit() and np[4:6].isalpha() and np[6:].isdigit():
    if np[0:2] == "TN" and np[2:4] == "07":
        print("True")
    else:
        print("False")
else:
    print("Enter correct number plate data")

enter number plate: MP23JK45
False

In [10]:
np = input("enter number plate: ")
if np[0:2].isalpha() and np[2:4].isdigit() and np[4:6].isalpha() and np[6:].isdigit():
    if np[0:2] == "TN" and np[2:4] == "07":
        print("True")
    else:
        print("False")
else:
    print("Enter correct number plate data")

enter number plate: TN07JH85
True

In [11]:
np = input("enter number plate: ")
if np[0:2].isalpha() and np[2:4].isdigit() and np[4:6].isalpha() and np[6:].isdigit():
    if np[0:2] == "TN" and np[2:4] == "07":
        print("True")
    else:
        print("False")
else:
    print("Enter correct number plate data")

enter number plate: GH123J45
Enter correct number plate data

In [12]:
np = input("enter number plate: ")
if np[0:2].isalpha() and np[2:4].isdigit() and np[4:6].isalpha() and np[6:].isdigit():
    if np[0:2] == "TN" and np[2:4] == "07":
        print("True")
    else:
        print("False")
else:
    print("Enter correct number plate data")

enter number plate: tn07JH23
False

In [13]:
np = input("enter number plate: ")
if np[0:2].isalpha() and np[2:4].isdigit() and np[4:6].isalpha() and np[6:].isdigit():
    if np[0:2] == "TN" and np[2:4] == "07":
        print("True")
    else:
        print("False")
else:
    print("Enter correct number plate data")

enter number plate: 07TN45JK
Enter correct number plate data

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [22]:
str1 = input("enter a string: ")
l = len(str1)
n1 = int(input("enter start index : "))
n2 = int(input("enter ending index : "))
if n1>l or n2>l:
    print("Enter index within the range of string")
else:
    k = str1[n1:n2+1]
    l2 = len(str1[n1:n2+1])
    i = 1
    while l2<=l:
        substring = k*i
        l2 = len(substring)
        i = i+1
    print(substring)

enter a string: abhishek
enter start index : 0
enter ending index : 9
Enter index within the range of string

In [21]:
str1 = input("enter a string: ")
l = len(str1)
n1 = int(input("enter start index : "))
n2 = int(input("enter ending index : "))
if n1>l or n2>l:
    print("Enter index within the range of string")
else:
    k = str1[n1:n2+1]
    l2 = len(str1[n1:n2+1])
    i = 1
    while l2<=l:
        substring = k*i
        l2 = len(substring)
        i = i+1
    print(substring)

enter a string: abhishek
enter start index : 0
enter ending index : 3
abhiabhiabhi

In [23]:
str1 = input("enter a string: ")
l = len(str1)
n1 = int(input("enter start index : "))
n2 = int(input("enter ending index : "))
if n1>l or n2>l:
    print("Enter index within the range of string")
else:
    k = str1[n1:n2+1]
    l2 = len(str1[n1:n2+1])
    i = 1
    while l2<=l:
        substring = k*i
        l2 = len(substring)
        i = i+1
    print(substring)

enter a string: This is my pen
enter start index : 8
enter ending index : 13
my penmy penmy pen

In [24]:
str1 = input("enter a string: ")
l = len(str1)
n1 = int(input("enter start index : "))
n2 = int(input("enter ending index : "))
if n1>l or n2>l:
    print("Enter index within the range of string")
else:
    k = str1[n1:n2+1]
    l2 = len(str1[n1:n2+1])
    i = 1
    while l2<=l:
        substring = k*i
        l2 = len(substring)
        i = i+1
    print(substring)

enter a string: iNeuron
enter start index : 1
enter ending index : 6
NeuronNeuron

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [12]:
roll = int(input("Enter roll number: "))
Sapphire = []
Peridot = []
Ruby = []
Emerald = []
for n in range(0,100):
    Sapphire.append(1+4*n)
    Peridot.append(2+4*n)
    Ruby.append(3+4*n)
    Emerald.append(4+4*n)
if roll in Sapphire:
    print("Sapphire")
elif roll in Peridot:
    print("Peridot")
elif roll in Ruby:
    print("Ruby")
elif roll in Emerald:
    print("Emerald")
else:
    print("Enter correct roll number")

Enter roll number: 22
Peridot

In [13]:
roll = int(input("Enter roll number: "))
Sapphire = []
Peridot = []
Ruby = []
Emerald = []
for n in range(0,100):
    Sapphire.append(1+4*n)
    Peridot.append(2+4*n)
    Ruby.append(3+4*n)
    Emerald.append(4+4*n)
if roll in Sapphire:
    print("Sapphire")
elif roll in Peridot:
    print("Peridot")
elif roll in Ruby:
    print("Ruby")
elif roll in Emerald:
    print("Emerald")
else:
    print("Enter correct roll number")

Enter roll number: 17
Sapphire

In [14]:
roll = int(input("Enter roll number: "))
Sapphire = []
Peridot = []
Ruby = []
Emerald = []
for n in range(0,100):
    Sapphire.append(1+4*n)
    Peridot.append(2+4*n)
    Ruby.append(3+4*n)
    Emerald.append(4+4*n)
if roll in Sapphire:
    print("Sapphire")
elif roll in Peridot:
    print("Peridot")
elif roll in Ruby:
    print("Ruby")
elif roll in Emerald:
    print("Emerald")
else:
    print("Enter correct roll number")

Enter roll number: 52
Emerald

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [15]:
bl = int(input("Enter number of backlogs :"))
CGPA = float(input("Enter your CGPA: "))
if bl<=5 and CGPA>6:
    print("Selected")
    salary = 5*CGPA
    print(f"Salary offered is {salary} lakhs")
else:
    print("Not Selected")

Enter number of backlogs :5
Enter your CGPA: 9.2
Selected
Salary offered is 46.0 lakhs

In [16]:
bl = int(input("Enter number of backlogs :"))
CGPA = float(input("Enter your CGPA: "))
if bl<=5 and CGPA>6:
    print("Selected")
    salary = 5*CGPA
    print(f"Salary offered is {salary} lakhs")
else:
    print("Not Selected")

Enter number of backlogs :6
Enter your CGPA: 10
Not Selected

In [17]:
bl = int(input("Enter number of backlogs :"))
CGPA = float(input("Enter your CGPA: "))
if bl<=5 and CGPA>6:
    print("Selected")
    salary = 5*CGPA
    print(f"Salary offered is {salary} lakhs")
else:
    print("Not Selected")

Enter number of backlogs :2
Enter your CGPA: 6
Not Selected

In [18]:
bl = int(input("Enter number of backlogs :"))
CGPA = float(input("Enter your CGPA: "))
if bl<=5 and CGPA>6:
    print("Selected")
    salary = 5*CGPA
    print(f"Salary offered is {salary} lakhs")
else:
    print("Not Selected")

Enter number of backlogs :0
Enter your CGPA: 8
Selected
Salary offered is 40.0 lakhs

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [98]:
s= input()
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

radar
Palindrome

In [99]:
s= input()
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

mohan
Not Palindrome

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

33.decorator that logs the date and time

34.Program to Get Data Items From a List Appearing Odd Number of Times

35.What are decorators in Python?

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [138]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
l = []
n = len(number_list)
for i in range(n):
    if number_list[i] <= 50:
        l.append(number_list[i])
        
print(l)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [118]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60,70,80]
l=[]
for i in sample_list:
    print(i, sample_list.count(i))
    if sample_list.count(i)>1:
        l.append(i)
print(list(set(l)))

10 1
20 2
60 2
30 2
20 2
40 1
30 2
60 2
70 1
80 1
[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [95]:
# def func(x,y):
#     def inner_func(a,b):
#         return a+b
#     inner_func(x,y) + "developer"
#     return inner_func

In [96]:
func("Emma","kelly")

<function func.<locals>.inner_func at 0x0000022B776FC670>

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [8]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

list1[1][2][2][1] = 3500

In [9]:
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [12]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [14]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [25]:
x= input("enter string: ")
for i in range(len(x)):
    if i%2==0:
        print(x[i], end=' ')

enter string: iNeuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [80]:
for i in range(1,11):
    for j in range(1,11):
        print(j*i, end=' ')
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [30]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
List = list(set(sample_list))
print(tuple(List))
print("max= ", max(List))
print("min= ", min(List))

(65, 99, 41, 45, 87, 94)
max=  99
min=  41

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [37]:
c= lambda a: a+15
d= lambda x,y : x*y

In [38]:
c(20)

35

In [39]:
d(15,2)

30

46. Write a Python program to sort a list of tuples using Lambda.

In [56]:
a = lambda l: sorted(l)

In [57]:
l= [(15,12),(1,2),(1,2,3),(10,11,12)]

In [58]:
a(l)

[(1, 2), (1, 2, 3), (10, 11, 12), (15, 12)]

47. Write a Python program to extract year, month, date and time using Lambda.

In [12]:
import time

In [14]:
print(time.localtime())

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=19, tm_hour=11, tm_min=13, tm_sec=13, tm_wday=0, tm_yday=353, tm_isdst=0)

In [16]:
time.time()

1671428727.6923106

In [10]:
print(calendar.month(2022,12))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

48. Write a Python program to count the even, odd numbers in a given array of integers.

In [62]:
arr = [1,2,3,4,5,6,7,8,9]
ev_count = 0
od_count = 0
for i in arr:
    if i%2 == 0:
        ev_count+=1
    else:
        od_count+=1
print("Even Nos count: ", ev_count)  
print("Odd Nos count: ", od_count)

Even Nos count:  4
Odd Nos count:  5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [51]:
x = "Apple"

In [56]:
y= list(map(lambda a: a.upper(),x))

In [57]:
print(y)

['A', 'P', 'P', 'L', 'E']

In [58]:
z= list(map(lambda a: a.lower(),x))

In [59]:
print(z)

['a', 'p', 'p', 'l', 'e']

In [60]:
list(set(y))

['L', 'A', 'E', 'P']

In [61]:
list(set(z))

['p', 'l', 'a', 'e']

50.  Write a Python program to square the elements of a list using map() function.

In [23]:
l= [1,2,3,4,5,6,7,8,9]

In [49]:
list(map(lambda a: a**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]